* {
    --background: #f8f9fa;
    --text: #212529;
    --link: hsl(250, 10%, 25%);
    --accent1: hsl(200, 34%, 25%);
    --accent2: hsl(210, 14%, 25%);

    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    * {
        --text: #f8f9fa;
        --background: #212529;
        --link: hsl(250, 10%, 75%);
        --accent1: hsl(200, 34%, 75%);
        --accent2: hsl(210, 14%, 75%);
    }
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    padding: 1rem;
    max-width: 600px;
}

a:link,
a:visited {
    color: var(--link);
    text-decoration: none;
}

h1,
h2 {
    margin: 0;
}

p,
li {
    line-height: 1.75rem;
}

section {
    margin: 2rem 0;
}

header {
    display: grid;
    grid-template-columns: 50% 50%;
}

#contact {
    text-align: right;
    font-size: 1.5rem;
}

h1,
.project-summary {
    color: var(--accent1);
    font-weight: bold;
}

hr {
    color: var(--link);
}

ul {
    list-style: none;
    padding-left: unset;
}

summary,
h2 {
    font-weight: bold;
    color: var(--accent2);
}

.horizontal-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

details,
.school,
.project,
.job {
    margin: 1.5rem;
}

summary {
	cursor: pointer;
}

.tech-summary,
.job-title {
    font-style: italic;
}

.job-details,
.project-details {
    list-style: disc;
    padding-left: 1rem;
}
